@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Roboto:wght@400;900&display=swap');

body {
  font-family: 'Open Sans';
  background-color: rgb(240, 240, 240);
  font-size: 16px;
}

h1, h2 {
  font-family: 'Roboto'
}

h1 {
  color: #34626c;
  font-size: 25px;
}

h2 {
  color: #839b97;
  font-size: 20px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #f05454;
  font-size: 50px;
}

width {
  width: 100px;
}

div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 2.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container {
  width: 500px;
  margin: 40px auto;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.btn-red {
  font-size: 16px;
  background-color: #f05454;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  margin-top: 15px;
}

.btn-red:hover {
  background-color: #C74648;
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.fa-github-square:hover, .fa-linkedin:hover, .fa-twitter-square:hover {
  color: #C74648 !important;
}

@media (max-width: 2400px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
